<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      throwExceptions="false">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="Database"
            name="db"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
            connectionString="${var:connectionString}">
      <commandText>
        INSERT INTO [dbo].[ErrorLog] ([Logged], [Level], [Message], [Logger], [Exception], [RequestMethod], [RequestUrl], [UserEmail])
        VALUES (@logged, @level, @message, @logger, @exception, @requestMethod, @requestUrl, @userEmail);
      </commandText>
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@exception" layout="${exception:format=toString}" />
      <parameter name="@requestMethod" layout="${aspnet-request-method}" />
      <parameter name="@requestUrl" layout="${aspnet-request-url}" />
      <parameter name="@userEmail" layout="${aspnet-user-identity}" />
    </target>
    <target xsi:type="Console" name="console" layout="${longdate}|${level}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Info" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Warn" writeTo="db" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
